doctype html
html(ng-app="todoBase")
    include ./templates/header.jade
    body(ng-controller="todoBaseCtrl")
        header 
            h1 {{app}}
            p {{description}}
        include ./templates/todo.jade
        include ./templates/footer.jade
