$bevan = 'Bevan', cursive
$roboto = 'Roboto', sans-serif

$text-light = #f5f5f5
$text-dark = #333333

$color-light = #f5f5f5
$color-dark = #333333
$color-alert = #c0392b
$color-send = #2980b9
$color-checked = rgba(200, 200, 200, 0.1)

