body
    background: #606c88; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #606c88 , #3f4c6b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #606c88 , #3f4c6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

footer
    width 100%
    position relative
    .licence
        center(600px)
        width 100%
        margin 0 auto
        font-family $roboto
        text-align center
        color $text-light
